# Задание 1

Импортируй `pandas`

In [ ]:
import ...

Загрузи датасет

In [ ]:
path = 'https://raw.githubusercontent.com/rhiever/python-data-visualization-course/master/Section%203%20-%20Data%20visualization%20in%20Python%20-%20matplotlib/exercises/data/us-marriages-divorces-1867-2014.csv'
# или 
path = '../learning/datasets/us-marriages-divorces-1867-2014.csv'
us_marriage_divorce_data = pd.read_csv(path)
us_marriage_divorce_data.head()

Нарисуйте график, показывающий количество свадеб и разводов на душу населения в США за каждый год от 1867 да 2014.

Подпишите линии и оси, и добавьте легенду.

Сохраните на диск.

**Бонус:** Используйте [стиль](https://matplotlib.org/3.5.1/gallery/style_sheets/style_sheets_reference.html) ggplot.

# Задание 2

Нарисуйте график, сравнивающий количество свадеб и разводов на душу населения в США между 1900, 1950, и 2000 годами.

# Задание 3
Скачайте датасет `actor_kill_counts.csv` из [папки](https://drive.google.com/drive/u/2/folders/1feIAprMfR-9URRxQAGev02tOhxZo1SH8)

Нарисуйте график, показывающий, сколько киноубийств принадлежит самым "смертоносных" актерам Голливуда.

In [3]:
hollywood_actor_kills = pd.read_csv('')
hollywood_actor_kills.head()

                   Actor  Count
0  Arnold Schwarzenegger    369
1           Chow Yun-Fat    295
2         Clint Eastwood    207
3             Clive Owen    194
4         Dolph Lundgren    239

# Задание 4
Скачайте датасет `roman-emperor-reigns.csv` из папки `datasets`

In [4]:
roman_emperors = pd.read_csv('')
roman_emperors.head()

    Emperor  Length_of_Reign         Cause_of_Death
0  Augustus            40.58  Possibly assassinated
1  Tiberius            22.50  Possibly assassinated
2  Caligula             4.83           Assassinated
3  Claudius            13.75  Possibly assassinated
4      Nero            13.67                Suicide

Нарисуйте график, показывающий количество римских императоров, умерших по каждой из причин.

Нарисуйте график, показывающий зависимость причины смерти и длительности периода правления.

# Задание 5

Скачайте датасет `arcade-revenue-vs-cs-doctorates.csv` из [папки](https://drive.google.com/drive/u/2/folders/1feIAprMfR-9URRxQAGev02tOhxZo1SH8)

In [5]:
arcade_revenue_cs_doctorates = pd.read_csv('../learning/datasets/arcade-revenue-vs-cs-doctorates.csv')
arcade_revenue_cs_doctorates

,Year,Total Arcade Revenue (billions),Computer Science Doctorates Awarded (US)
0,2000,1.196,861
1,2001,1.176,830
2,2002,1.269,809
3,2003,1.240,867
4,2004,1.307,948
5,2005,1.435,1129
6,2006,1.601,1453
7,2007,1.654,1656
8,2008,1.803,1787
9,2009,1.734,1611

Нарисуйте график, показывающий связь между доходом залов игровых автоматов и количеством PhD (кандидатов наук) по Computer Science в США с 2000 по 2009 год.