# Ирисы

### Один из самых часто используемых датасетов - познакомьтесь с ним поближе

https://archive.ics.uci.edu/ml/datasets/iris

либо из папки datasets

### Шаг 1. Импортируем библиотеки.

### Шаг 2. Импортируем датасет

In [ ]:
# path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
path = '../datasets/iris.data'

### Шаг 3. Записываем его в переменную iris.

### Шаг 4. Создайте дополнительные колонки.

In [57]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

### Шаг 5. Есть ли пропущенные значения?

### Шаг 6. Зададим значение NaN для строк с 10 по 29 колонки 'petal_length'

### Шаг 7. Отлично, теперь заменим NaN на 1.0

### Шаг 8. Удалим колонку class

### Шаг 9. Запишем NaN в первые 3 строки (во все колонки)

### Шаг 10. Удалим строки, в которых встречается NaN

### Шаг 11. Сбросим индекс - начнем его опять с 0.

### Шаг 12. Бонус: Напишите свой вопрос и ответьте на него.